*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    width: 100vh;
}
.cantainer{
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: 1rem;
    padding: 0% 30% 0% 4%;
    grid-template-rows:repeat(7, 1fr) ;
    grid-template-columns:repeat(4, 1fr) ;
}
.box{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(206, 206, 206) 0px 0px 2px 0px;
    padding: 2rem;
    
    font-family: Arial, Helvetica, sans-serif;
}
.row-1-box-1{
    font-size:x-large;
    padding: 2rem 2rem 0rem 2rem;
    color: black;
    background-image: linear-gradient(150deg, rgb(189, 248, 187), rgba(62, 252, 94, 0.897), rgba(6, 151, 6, 0.671));
}
.row-1-box-1-icon-1{
    color: rgb(7, 170, 34);
   
}
.row-1-box-2{
    font-size:x-large;
    padding: 2rem;
    color: black;
    background-image: linear-gradient(150deg, rgb(180, 244, 248), rgb(57, 231, 243), rgb(9, 164, 175));
}
.row-1-box-1-icon-2{
    color: rgb(23, 141, 145);
   
}
.row-1-box-3{
    font-size:x-large;
    padding: 2rem;
    color: black;
    background-image: linear-gradient(150deg, rgb(248, 219, 180), rgba(255, 145, 0, 0.877), rgba(218, 125, 4, 0.863));
}
.row-1-box-1-icon-3{
    color: rgb(170, 94, 7);
}
.row-1-box-4{
    font-size:x-large;

    padding: 2rem;
    color: black;
    background-image: linear-gradient(150deg, rgb(253, 188, 188), rgba(255, 0, 0, 0.897), rgb(231, 2, 2));
}
.row-1-box-1-icon-4{
    color: rgb(185, 6, 6);
   
}
.row-2-box-1{
    grid-column-start: 1;
    grid-column-end: 4;
    /* grid-row-start: 2;
    grid-row-end: 4; */
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    text-align: center;
}
.row-2-box-1 img{
    border-radius: 8px;
    width: 20vw;
    width: 10vh;
}


.row-2-box-2{
    grid-column-start: 4;
    grid-column-end: 5;
    /* grid-row-start: 2;
    grid-row-end: 4; */
    height: auto;
    text-align: center;
}
.row-2-box-2 img{
    border-radius: 8px;
    width: 20vw;
    width: 10vh;
}
